body {
  margin: 0;
}

.b-header {
  height: 100vh;
  background-image: url(/BMW/assets/rodan-can-6cqJPeTIuls-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}
.b-enlaces {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.b-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid white;
}
.b-nav-menu {
  width: 100%;
}
.b-enlaces li {
  padding: 0px 10px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: white;
}
.nav-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-icons span {
  margin: 10px;
  color: white;
}
.nav-icons img {
  width: 8%;
  margin-left: 20px;
}
.b-info {
  margin-top: 250px;
  margin-left: 80px;
}

.b-info h1 {
  font-family: Roboto, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
}
.b-info h2 {
  font-family: Roboto, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
}
.b-info button {
  background-color: blue;
  padding: 15px 70px;
  color: white;
  margin-top: 20px;
  border: 0;
  cursor: pointer;
}
.b-gallery {
  margin: 150px;
}
h3 {
  width: 85px;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  border-bottom: 2px solid lightgray;
  color: lightgray;
}

.b-gallery-menu ul {
  display: flex;
  list-style: none;
  font-family: Roboto, sans-serif;
  color: #d3d3d3;
  border-bottom: 1px solid lightgrey;
  margin-top: 30px;
}

.b-gallery-active {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid blue;
}

.b-gallery-menu li {
  padding: 28px;
  font-size: 18px;
}

.b-gallery-img {
  margin-top: 37px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.b-gallery__containers {
  font-family: Roboto, sans-serif;
  width: 15%;
  margin: 10px;
}
.b-gallery__containers img {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  width: 100%;
}
.b-gallery__price {
  color: lightgray;
}
.b-gallery__containers span {
  color: lightgray;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: black;
}

.b-articles {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: 0 auto;
}

.b-articles-gallery {
  width: 100%;
  font-family: Roboto, sans-serif;
}
.b-articles_containers {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 5px;
}

.b-articles_containers img {
  width: 100%;
}

.b-articles_containers h2 {
  font-size: 20px;
  margin-top: 20px;
}
.b-articles_containers p {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.b-articles_link {
  color: blue;
  font-size: 12px;
  text-decoration: none;
}

.b-article__video {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.b-articles__video-gallery {
  width: 100%;
  font-family: Roboto, sans-serif;
}
.b-articles__video-containers {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 5px;
}

.b-articles__video-containers img {
  width: 100%;
}
.b-articles__video-containers h2 {
  font-size: 30px;
}
.b-articles__video-containers p {
  font-size: 10px;
  margin-bottom: 10px;
}
.b-icons_flex {
  width: 80%;
  margin: 0 auto;
}
.icons_gallery {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  justify-content: center;
}

.icons_gallery span {
  margin-right: 20px;
  padding: 40px 100px;
  background-color: #f1f2f2;
  display: flex;
}

.b-contact {
  background-color: #e6e6e6;
  width: 100%;
}

.b-contact {
  font-family: Roboto, sans-serif;
  margin-top: 70px;
}
.b-contact_table {
  width: 80%;
  padding: 70px;
}

table {
  margin: 0 auto;
}

tbody {
  padding: 10px;
}

footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.b-footer_left {
  margin-left: 30px;
  font-weight: 600;
}
.b-footer_right ul {
  display: flex;
  list-style: none;
}
.b-footer_right li {
  padding: 20px;
  font-size: 12px;
  color: blue;
}
